<form action="/" method="post" enctype="multipart/form-data">
    <input type="file" name="file1" id="image">
    <label for="image">choose</label>
    <input type="file" name="file2" id="image">
    <label for="image">choose</label>
    <button type="submit">upload</button>
</form>